.container{
    background-color: #2C3333;
    border-top: 2px gainsboro;
    height: 5rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}