.container {
 width: 80%;
}
.cabecalho{
  padding: 20px 0 20px 5px;
}
table {
  overflow-x: auto;
  width: 90%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
thead{
  font-weight: bold;
}
table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}
@media (min-width: 756px) {
  .container {
    width: 100%;
    padding: 2em;
  }
  table {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}